name: Windows Cross Compiled

on:
  push:
    branches-ignore:
      - 'dependabot/**'

  workflow_dispatch:

jobs:
  build_targets:
    name: Build target-variant image
    runs-on: ubuntu-24.04
    strategy:
      fail-fast: false
      matrix:
        target: [win64]
        variant: [nonfree]
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Create and Boot docker-container Driver
        uses: docker/setup-buildx-action@v3
        with:
          buildkitd-config-inline: |
            [worker.oci]
            max-parallelism = 2

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.dodosolsollalasol }}

      - name: Generate Dockerfile
        run: ./generate.sh ${{ matrix.target }} ${{ matrix.variant }}

      - name: Image Name
        id: imagename
        run: |
          IMG="ghcr.io/${GITHUB_ACTOR,,}/${{ matrix.target }}-${{ matrix.variant }}"
          echo "image=${IMG/ /-}:latest" >> "$GITHUB_OUTPUT"
          echo "cache=${IMG/ /-}:cache" >> "$GITHUB_OUTPUT"

      - name: Build variant image
        uses: docker/build-push-action@v6
        with:
          context: .
          outputs: type=registry,oci-mediatypes=true,compression=zstd,compression-level=7
          cache-from: type=registry,ref=${{ steps.imagename.outputs.cache }}
          cache-to: type=registry,ref=${{ steps.imagename.outputs.cache }},mode=max,oci-mediatypes=true,compression=zstd,compression-level=7
          tags: ${{ steps.imagename.outputs.image }}
          provenance: false

  ffmpeg_latest:
    name: Get FFmpeg latest commit
    needs: build_targets
    runs-on: ubuntu-24.04
    outputs:
      commit: ${{ steps.sha.outputs.ffmpeg_commit }}
    steps:
      - name: Get FFmpeg latest commit
        id: sha
        env:
          GITHUB_TOKEN: ${{ github.token }}
        run: |
          sha=$(gh api repos/FFmpeg/FFmpeg/commits/master --jq '.sha')
          echo "ffmpeg_commit=${sha}" >> "$GITHUB_OUTPUT"

  build_ffmpeg:
    name: Build ffmpeg
    needs: ffmpeg_latest
    runs-on: ubuntu-24.04
    strategy:
      fail-fast: false
      matrix:
        target: [win64]
        variant: [nonfree, nonfree-shared]
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.dodosolsollalasol }}

      - name: Build ffmpeg
        run: ./build.sh ${{ matrix.target }} ${{ matrix.variant }}
        env:
          FFMPEG_COMMIT: ${{ needs.ffmpeg_latest.outputs.commit }}

      - name: Replace spaces in artifact name
        id: artifact
        run: |
          REF="${{ matrix.target }}-${{ matrix.variant }}"
          echo "name=${REF// /-}" >> "$GITHUB_OUTPUT"

      - name: Upload artifact
        uses: actions/upload-artifact@v6
        with:
          name: ffmpeg-${{ steps.artifact.outputs.name }}
          path: artifacts/
          retention-days: 1
